---
import BlogListItem from "../components/PostListItem.astro";
import { PostService } from '../services/post.service'

const posts = PostService.getInstance().getContents();
---

<ul class="posts-list">
    {
        posts.map((series) => (
            <>
                <h3 class="series-headline">{series.displayName}</h3>
                <section class="posts">
                    {series.posts.map((e) => (
                        <BlogListItem
                            creationTime={e.data.creationTime}
                            title={e.data.title}
                            description={e.data.description}
                            fileName={e.id}
                            tags={e.data.tags}
                            slug={e.slug}
                        />
                    ))}
                </section>
            </>
        ))
    }
</ul>

<style>
    .posts-list {
        @apply flex flex-col gap-4 w-full;

        & > .series-headline {
            @apply headline-medium;
        }
        & > .posts {
            @apply flex gap-2 flex-wrap;
        }
    }
</style>
