---
import CollectionListItem from "./CollectionListItem.astro";

interface Props {
  collection: Array<any>;
}

const { collection } = Astro.props;
---

<ul class="post-list">
  {
    collection.map((post) => (
      <section class="posts">
        <CollectionListItem
          creationTime={post.data.creationTime}
          title={post.data.title}
          description={post.data.description}
          fileName={post.id}
          tags={post.data.tags}
          slug={post.slug}
        />
      </section>
    ))
  }
</ul>

<style>
  .post-list {
    @apply flex flex-col gap-4 w-full;

    & > .series-headline {
      @apply headline-medium;
    }
    & > .posts {
      @apply flex gap-2 flex-wrap;
    }
  }
</style>
