---
import { getCollection } from "astro:content";
import BlogListItem from "./BlogListItem.astro";
import { Collections } from "../../content/collections";

const getPostsByCollectionName = async (collectionName: string) => {
    return (await getCollection("blog")).sort(
        (a, b) => a.data.creationTime.valueOf() - b.data.creationTime.valueOf(),
    );
};

const posts = [
    {
        headline: "Blogs",
        posts: await getPostsByCollectionName(Collections.Blog),
    },
    {
        headline: "Angular",
        posts: await getPostsByCollectionName(Collections.Angular),
    },
];
---

<ul class="posts-list">
    {
        posts.map((series) => (
            <>
                <h3 class="series-headline">{series.headline}</h3>
                <section class="posts">
                    {series.posts.map((e) => (
                        <BlogListItem
                            creationTime={e.data.creationTime}
                            title={e.data.title}
                            description={e.data.description}
                            fileName={e.id}
                            tags={e.data.tags}
                            slug={e.slug}
                        />
                    ))}
                </section>
            </>
        ))
    }
</ul>

<style>
    .posts-list {
        @apply flex flex-col gap-4 w-full;

        & > .series-headline {
            @apply headline-medium;
        }
        & > .posts {
            @apply flex gap-2 flex-wrap;
        }
    }
</style>
